body {
    background-color: white;
    color: black;
    font-family: arial;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    overflow-x: hidden;
}

a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

#user_name, #run_name {
	color: #8a4;
	font-weight: bold;
}

.test_case_list {
	list-style-type: none;
	margin-left: 5pt;	
}

.test_case_item {
	color: #a84;
	cursor: pointer;
	margin-left: -25pt;	
}

div#menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 30pt;
    width: 100%;
	padding: 5pt;
	border-right: 1pt solid #aaa;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1pt solid #888;
}

div#content {
    margin: 0 auto;
    margin-top: 45pt;
	width: 600pt;
}

div#content_header {
	padding: 5pt;
}

div#content_area {
	padding: 5pt;
}

h2 {
    margin: 5pt;

}

button {
}

span.state {
	background-color: #aaa;
	color: white;
	font-weight: bold;	
	padding: 4pt;
	margin: 3pt;
	width: 70pt;
	height: 15pt;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

span.not_run {
	background-color: #aaa;
    color: black;
}

span.assigned {
	background-color: black;
    color: white;
}

span.passed {
	background-color: #8a4;
}

span.failed {
	background-color: #d44;
}

span.blocked {
	background-color: #48a;
}

span.skipped {
	background-color: #aaa;
}

span.assignee {
	color: #8a4;
	font-weight: bold;	
	margin: 3pt;
}

span.unassigned {
	color: gray;
	font-weight: bold;	
}

span.title {
    font-size: 1.2em;
    font-weight: bold;
}

span.test_name {
	color: black;
	margin: 3pt;
}

span.ts {
    color: #888;
    font-size: .8em;
}

#content_md {
    margin-bottom: 20pt;
    padding-bottom: 10pt;
    border-bottom: 1pt solid #888;
}

#ops_area {
    margin-top: 10pt;
}

#content_input {
    margin-top: 10pt;
    margin-bottom: 20pt;
}

#content_input > div.label {
    margin-top: 15pt;
    margin-bottom: 2pt;
}

input[type=text] {
    width: 95%;
    padding: 2pt;
    border: 0;
    border-bottom: 1pt dotted #888;
    margin-top: 10pt;
    margin-bottom: 15pt;
}
